<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Menampilkan Variabel Dari Database</h2>
    <p>Nama dari Db : {{data_pengguna.nama}}</p>
    <p>Alamat dari Db : {{data_pengguna.alamat}}</p>
    <p>Email dari Db : {{data_pengguna.email}}</p>
    <p>Telpon dari Db : {{data_pengguna.telpon}}</p>
    
</body>
</html>